.share {
  .new_thought {
    resize: none;
    width: 98%;
    height: 60px;
    padding: 5px;
  }

  button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid grey;
    background-color: white;
  }

  span {
    cursor: pointer;
    padding: 4px;
    border: 1px solid grey;
    background-color: white;
  }
}

.bottom {
  display: flex;
}

.right,
.left {
  display: flex;
  align-items: center;
}
